<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/cadastrar.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="center">
        <div class="logo">
          <a href="http://localhost:8080"
            ><img src="/image/logo/LogoHorizontal.svg"
          /></a>
        </div>
        <!--Logo-->
      </div>
    </header>
    <section class="boxCadastro">
      <div class="areaCadastro">
        <div class="titulocadastro">
          <span class="textocadastro">Cadastre-se</span>
        </div>
        <div class="formulario">
          <div class="areanome">
            <label type="text" class="textonome">Nome</label>
            <input type="text" class="entradainfo" />
          </div>
          <div class="areasenha">
            <label type="text" class="textosenha">Senha</label>
            <input type="password" class="entradainfo" />
          </div>
          <div class="arearepitasenha">
            <label type="text" class="textorepitasenha">Repita a senha</label>
            <input type="password" class="entradainfo" />
          </div>
          <div class="areaemail">
            <label type="text" class="textoemail">E-mail</label>
            <input type="email" class="entradainfo" />
          </div>
        </div>
        <a href="http://localhost:8080/cadastro-finalizado"
          ><button type="submit" class="buttonCadastrar">Cadastrar</button></a
        >
        <div class="boxLink">
          <a href="http://localhost:8080/entrar">Já possuo uma conta</a>
        </div>
      </div>
    </section>
  </body>
</html>
