<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/cadastroFinalizado.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="center">
        <div class="logo">
          <a href="http://localhost:8080"
            ><img src="image/logo/LogoHorizontal.svg"
          /></a>
        </div>
        <!--Logo-->
      </div>
    </header>
    <section class="boxLogin">
      <div class="areaLogin">
        <div class="titulologin">
          <div class="textocadastro">Parabéns!</div>
        </div>
        <div class="formulario">
          <div class="areaemail">
            <label type="text" class="textoemail">Sua conta foi criada!</label>
          </div>
        </div>
        <img src="/image/icones/sucesso.png" width="100" height="100" />
        <div class="boxLink">
          <a href="http://localhost:8080/entrar"
            ><button type="submit" class="buttonLogin">Entrar</button></a
          >
        </div>
      <div>
    </section>
  </body>
</html>
