<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/home.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-navbar">
      <!-- Inicio Navbar -->
      <div class="navbar">
        <a href="http://localhost:8080"
          ><img src="/image/logo/LogoHorizontal.svg" alt="Logo"
        /></a>
        <div class="acessos">
          <a href="http://localhost:8080/cadastrar">Cadastrar</a>
          <a href="http://localhost:8080/entrar">Entrar</a>
        </div>
      </div>
      <div class="img-praia-navbar"></div>
      <div class="texto-container-produto">
        <div class="texto-produto">
          Os melhores Guias, pacotes e experiências estão em SeuGuia
        </div>
      </div>
    </div>
    <!-- Final Navbar -->
    <div class="container-pesquisa">
      <div class="container-pesquisa-child">
        <div class="container-filtros">
          <button type="button" class="button-guia">Guia</button>
          <button type="button" class="button-passeio">Passeios</button>
        </div>
        <div class="container-pesquisa-bar">
          <div class="borda-area-1">
            <input
              type="search"
              class="area-pesquisa"
              placeholder="Buscar..."
            />
          </div>
          <div class="borda-area-2">
            <input type="date" class="area-data" />
          </div>
          <div class="borda-area-2">
            <input type="date" class="area-data" />
          </div>
          <div class="container-button-pesquisar">
            <button type="button" class="button-pesquisar">Buscar</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
