<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/recSenha.css" />
  </head>
  <body>
    <header>
      <div class="center">
        <div class="logo">
          <a href="http://localhost:8080"
            ><img src="/image/logo/LogoHorizontal.svg"
          /></a>
        </div>
        <!--Logo-->
      </div>
    </header>
    <section class="boxLogin">
      <form action="http://localhost:8080/rec-senha-email" class="areaLogin">
        <div class="titulologin">
          <div class="textocadastro">Bem vindo</div>
        </div>
        <div class="formulario">
          <div class="areaemail">
            <label type="text" class="textoemail"
              >Informe seu email para recuperar sua senha:</label
            >
            <input type="email" class="entradainfo" required />
          </div>
        </div>
        <button type="submit" class="buttonLogin">Recuperar</button>
        <div class="boxLink">
          <a href="http://localhost:8080/cadastrar">Ainda não sou cadastrado</a>
        </div>
      </form>
    </section>
  </body>
</html>
