@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

.navbar {
  /* Inicio Navbar */
  width: 100vw;
  height: 70px;
  position: absolute;
  background-color: #fff;
  box-shadow: 1px 1px 2px #808080;
}

.navbar input {
  position: absolute;
  right: 0;
}

.navbar img {
  width: 150px;
  height: 70px;
  left: 32px;
  /* position: absolute; */
  cursor: pointer;
}

.perfil {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 32px;
  background-image: url(/image/imagensGuia/p4.svg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.container-config {
  border-radius: 10px;
  box-shadow: 1px 2px 10px 1px #808080;
  width: 200px;
  height: 250px;
  position: absolute;
  top: 80px;
  right: 47px;
  display: none;
  background-color: #fff;
  z-index: 1;
}

.boxfoto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 70px;
  background-image: url(/image/imagensGuia/p4.svg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.line {
  border: 1px solid lightgray;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  margin-top: 90px;
  width: 150px;
  margin-left: 30px;
}

.textoconfig {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-left: 10px;
  gap: 10px;
  font-size: 14px;
}

.textoconfig span:hover {
  cursor: pointer;
  color: #347cb4;
}

.update {
  margin-top: 55px;
}

.navbar .rd-mostrar:checked ~ .container-config {
  display: block;
  transition: all 0.3s linear;
}

.navbar input {
  /* Final Navbar */
  display: none;
}

.background-pesquisa {
  width: 100vw;
  height: 400px;
  position: fixed;
  top: 30px;
  background-image: url(/image/backgrounds/praia.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
}

.areapesquisa {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 25rem;
  width: 100vw;
}

.caixa-pesquisa {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  gap: 10px;
  background-color: #a8b5bf;
  width: 700px;
  height: 60px;
}

.guia {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #fff;
  width: 100px;
  height: 40px;
  font-size: 20px;
  font-weight: 400;
}

.passeio {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #fff;
  width: 100px;
  height: 40px;
  font-size: 20px;
  font-weight: 400px;
}

.passeio:hover {
  cursor: pointer;
  background-color: #347cb4;
  color: #fff;
}

.guia:hover {
  cursor: pointer;
  background-color: #347cb4;
  color: #fff;
}

.pesquisa {
  text-align: center;
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  outline: none;
}

.botao {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #347cb4;
  font-size: 15px;
  font-weight: 400px;
  color: #fff;
}

.filtro-icone {
  margin-left: 10px;
  filter: invert(1);
  width: 30px;
  height: 30px;
  background-image: url(/image/icones/filtro.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  cursor: pointer;
}

.caixa-filtros {
  border-radius: 0px 0px 5px 5px;
  width: 700px;
  height: 150px;
  background-color: #a8b5bf;
  position: absolute;
  top: 3.5rem;
  display: none;
}

.rd-filter {
  display: none;
}

.caixa-pesquisa .rd-filter:checked ~ .caixa-filtros {
  display: block;
}

.filtros {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 55px;
  margin-top: 15px;
  margin-left: 80px;
}

.caixa-filtros ul,
li {
  list-style: none;
}

.avaliacao {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.estado {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.idioma {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.estilosdepasseios {
  display: flex;
  justify-content: center;
  gap: 5px;
}
